# Vagrant internal files — never commit these
vagrant/.vagrant/

# Secrets — never commit passwords
vagrant/secrets.yml

# Vagrant shared folder — not part of the project
vagrant/ansible/

# Ansible secrets — never commit passwords
ansible/secrets.yml